<section class='users'>
  <ul class='users-list'>
    <% @users.each do |user| %>
      <li class='user'>
        <div class='profile-photo'>
          <img class='profile-photo-img' src=<%= user.photo %> alt='photo' width='100' height='100'>
        </div>
        <div class='username'>
          <%= link_to user do %>
            <h2 class='name'><%= user.name %></h2>
            <h4 class='posts-counter'>Number of posts: <%= user.posts_counter %></h4>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</section>
