// Place all the styles related to the Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flash-notice {
  margin: 1rem 4rem;
  padding: 1rem 0;
  background-color: #17d7a0;
  color: #fff;
  border: 4px solid #17d7a0;
  width: auto;
  text-align: center;
  border-radius: 0.25rem;
}

.flash-error {
  margin: 1rem 4rem;
  padding: 1rem 0;
  background-color: #c85c5c;
  color: #fff;
  border: 4px solid #c85c5c;
  width: auto;
  text-align: center;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
